*{
    margin: 0px;
    padding: 0%;
}
body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    
}
.con{
    height: 60px;
    width: 330px;
    /*position: absolute;*/
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fa-star{
    font-size: 35px;
}

#container{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background:gray ;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: wheat;
}

nav{
    background: lightsalmon;
    height: 50px;
    border-bottom:1px solid black ;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc( 80% - 80px) ;
    min-height: 400px;
    background: lightgreen;
    padding: 40px;
}

.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.article:first-child{
    padding-top: 10px;
    border-top: 1px solid black;
}
.article h2{
    font-size: 30px;
}

aside{
    float: left;
    width: calc(20% - 20px);
    min-height: 400px;
    background: lightcoral;
    scroll-padding-left: 10px;
    scroll-padding-right: 10px;
    padding-top: 20px;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

